body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Home_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:80px;
    top:30px;
    width:70px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:66px;
}

.u1 {
    position:absolute;
    left:2px;
    top:15px;
    width:66px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:80px;
    top:30px;
    width:70px;
    height:60px
}

.u2_original {
    background-image: url('../Home_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:186px;
    top:35px;
    width:70px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:56px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:186px;
    top:35px;
    width:70px;
    height:50px
}

.u4_original {
    background-image: url('../Home_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:190px;
    top:265px;
    width:70px;
    height:40px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:46px;
}

.u5 {
    position:absolute;
    left:2px;
    top:12px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:190px;
    top:265px;
    width:70px;
    height:40px
}

.u6_original {
    background-image: url('../Home_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:284px;
    top:255px;
    width:100px;
    height:60px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u7 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:284px;
    top:255px;
    width:100px;
    height:60px
}

.u8_original {
    background-image: url('../Home_files/u6_original.png');
}

.u8_container {
    position:absolute;
    left:274px;
    top:30px;
    width:100px;
    height:60px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u9 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:274px;
    top:30px;
    width:100px;
    height:60px
}

.u10_original {
    background-image: url('../Home_files/u2_original.png');
}

.u10_container {
    position:absolute;
    left:299px;
    top:335px;
    width:70px;
    height:50px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:56px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:299px;
    top:335px;
    width:70px;
    height:50px
}

.u12_original {
    background-image: url('../Home_files/u2_original.png');
}

.u12_container {
    position:absolute;
    left:289px;
    top:110px;
    width:70px;
    height:50px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:56px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:289px;
    top:110px;
    width:70px;
    height:50px
}

.u14_original {
    background-image: url('../Home_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:261px;
    top:180px;
    width:126px;
    height:50px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:56px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:261px;
    top:180px;
    width:126px;
    height:50px
}

.u16_original {
    background-image: url('../Home_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:266px;
    top:405px;
    width:136px;
    height:50px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:56px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:132px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:266px;
    top:405px;
    width:136px;
    height:50px
}

.u18_original {
    background-image: url('../Home_files/u6_original.png');
}

.u18_container {
    position:absolute;
    left:1163px;
    top:30px;
    width:100px;
    height:60px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u19 {
    position:absolute;
    left:2px;
    top:15px;
    width:96px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:1163px;
    top:30px;
    width:100px;
    height:60px
}

.u20_original {
    background-image: url('../Home_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:1486px;
    top:25px;
    width:70px;
    height:60px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:66px;
}

.u21 {
    position:absolute;
    left:2px;
    top:15px;
    width:66px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:1486px;
    top:25px;
    width:70px;
    height:60px
}

.u22_original {
    background-image: url('../Home_files/u20_original.png');
}

.u22_container {
    position:absolute;
    left:730px;
    top:30px;
    width:70px;
    height:60px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:66px;
}

.u23 {
    position:absolute;
    left:2px;
    top:8px;
    width:66px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:730px;
    top:30px;
    width:70px;
    height:60px
}

.u24_original {
    background-image: url('../Home_files/u6_original.png');
}

.u24_container {
    position:absolute;
    left:610px;
    top:30px;
    width:100px;
    height:60px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u25 {
    position:absolute;
    left:2px;
    top:15px;
    width:96px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:610px;
    top:30px;
    width:100px;
    height:60px
}

.u26_original {
    background-image: url('../Home_files/u20_original.png');
}

.u26_container {
    position:absolute;
    left:940px;
    top:30px;
    width:70px;
    height:60px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:66px;
}

.u27 {
    position:absolute;
    left:2px;
    top:8px;
    width:66px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:940px;
    top:30px;
    width:70px;
    height:60px
}

.u28_original {
    background-image: url('../Home_files/u20_original.png');
}

.u28_container {
    position:absolute;
    left:835px;
    top:120px;
    width:70px;
    height:60px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:66px;
}

.u29 {
    position:absolute;
    left:2px;
    top:8px;
    width:66px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:835px;
    top:120px;
    width:70px;
    height:60px
}

.u30c0 {
    background-image: url('../Home_files/u30c0.png');
}

.u30c0 {
    position:absolute;
    left:256px;
    top:275px;
    width:38px;
    height:20px;
}

.u31 {
    position:absolute;
    left:-38px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32c0 {
    background-image: url('../Home_files/u32c0.png');
}

.u32c0 {
    position:absolute;
    left:314px;
    top:86px;
    width:20px;
    height:34px;
}

.u33 {
    position:absolute;
    left:-50px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34c0 {
    background-image: url('../Home_files/u34c0.png');
}

.u34c0 {
    position:absolute;
    left:324px;
    top:381px;
    width:20px;
    height:34px;
}

.u35 {
    position:absolute;
    left:-50px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36c0 {
    background-image: url('../Home_files/u36c0.png');
}

.u36c0 {
    position:absolute;
    left:159px;
    top:50px;
    width:37px;
    height:20px;
}

.u37 {
    position:absolute;
    left:-38px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38c0 {
    background-image: url('../Home_files/u38c0.png');
}

.u38c0 {
    position:absolute;
    left:252px;
    top:50px;
    width:32px;
    height:20px;
}

.u39 {
    position:absolute;
    left:-41px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40c0 {
    background-image: url('../Home_files/u40c0.png');
}

.u40c0 {
    position:absolute;
    left:153px;
    top:56px;
    width:20px;
    height:239px;
}

.u40c1 {
    background-image: url('../Home_files/u40c1.png');
}

.u40c1 {
    position:absolute;
    left:153px;
    top:275px;
    width:41px;
    height:20px;
}

.u41 {
    position:absolute;
    left:-50px;
    top:118px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_original {
    background-image: url('../Home_files/u6_original.png');
}

.u42_container {
    position:absolute;
    left:820px;
    top:30px;
    width:100px;
    height:60px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u43 {
    position:absolute;
    left:2px;
    top:15px;
    width:96px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:820px;
    top:30px;
    width:100px;
    height:60px
}

.u44c0 {
    background-image: url('../Home_files/u44c0.png');
}

.u44c0 {
    position:absolute;
    left:324px;
    top:311px;
    width:20px;
    height:34px;
}

.u45 {
    position:absolute;
    left:-50px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46c0 {
    background-image: url('../Home_files/u46c0.png');
}

.u46c0 {
    position:absolute;
    left:314px;
    top:156px;
    width:20px;
    height:34px;
}

.u47 {
    position:absolute;
    left:-50px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48c0 {
    background-image: url('../Home_files/u48c0.png');
}

.u48c0 {
    position:absolute;
    left:254px;
    top:125px;
    width:39px;
    height:20px;
}

.u48c1 {
    background-image: url('../Home_files/u48c1.png');
}

.u48c1 {
    position:absolute;
    left:254px;
    top:50px;
    width:20px;
    height:95px;
}

.u48c2 {
    background-image: url('../Home_files/u48c2.png');
}

.u48c2 {
    position:absolute;
    left:254px;
    top:50px;
    width:24px;
    height:20px;
}

.u49 {
    position:absolute;
    left:-60px;
    top:37px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50c0 {
    background-image: url('../Home_files/u50c0.png');
}

.u50c0 {
    position:absolute;
    left:264px;
    top:350px;
    width:39px;
    height:20px;
}

.u50c1 {
    background-image: url('../Home_files/u50c1.png');
}

.u50c1 {
    position:absolute;
    left:264px;
    top:275px;
    width:20px;
    height:95px;
}

.u50c2 {
    background-image: url('../Home_files/u50c2.png');
}

.u50c2 {
    position:absolute;
    left:264px;
    top:275px;
    width:24px;
    height:20px;
}

.u51 {
    position:absolute;
    left:-60px;
    top:37px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52c0 {
    background-image: url('../Home_files/u52c0.png');
}

.u52c0 {
    position:absolute;
    left:370px;
    top:50px;
    width:92px;
    height:20px;
}

.u53 {
    position:absolute;
    left:-11px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54c0 {
    background-image: url('../Home_files/u54c0.png');
}

.u54c0 {
    position:absolute;
    left:380px;
    top:275px;
    width:60px;
    height:20px;
}

.u54c1 {
    background-image: url('../Home_files/u54c1.png');
}

.u54c1 {
    position:absolute;
    left:420px;
    top:56px;
    width:20px;
    height:239px;
}

.u55 {
    position:absolute;
    left:-4px;
    top:127px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_original {
    background-image: url('../Home_files/u56_original.png');
}

.u56_container {
    position:absolute;
    left:452px;
    top:35px;
    width:110px;
    height:50px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:56px;
}

.u57 {
    position:absolute;
    left:2px;
    top:10px;
    width:106px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:452px;
    top:35px;
    width:110px;
    height:50px
}

.u58c0 {
    background-image: url('../Home_files/u58c0.png');
}

.u58c0 {
    position:absolute;
    left:558px;
    top:50px;
    width:62px;
    height:20px;
}

.u59 {
    position:absolute;
    left:-26px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60c0 {
    background-image: url('../Home_files/u60c0.png');
}

.u60c0 {
    position:absolute;
    left:650px;
    top:86px;
    width:20px;
    height:24px;
}

.u60c1 {
    background-image: url('../Home_files/u60c1.png');
}

.u60c1 {
    position:absolute;
    left:590px;
    top:90px;
    width:80px;
    height:20px;
}

.u60c2 {
    background-image: url('../Home_files/u60c2.png');
}

.u60c2 {
    position:absolute;
    left:590px;
    top:50px;
    width:20px;
    height:60px;
}

.u60c3 {
    background-image: url('../Home_files/u60c3.png');
}

.u60c3 {
    position:absolute;
    left:590px;
    top:50px;
    width:24px;
    height:20px;
}

.u61 {
    position:absolute;
    left:-50px;
    top:32px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62c0 {
    background-image: url('../Home_files/u62c0.png');
}

.u62c0 {
    position:absolute;
    left:706px;
    top:50px;
    width:34px;
    height:20px;
}

.u63 {
    position:absolute;
    left:-40px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64c0 {
    background-image: url('../Home_files/u64c0.png');
}

.u64c0 {
    position:absolute;
    left:796px;
    top:50px;
    width:34px;
    height:20px;
}

.u65 {
    position:absolute;
    left:-40px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66c0 {
    background-image: url('../Home_files/u66c0.png');
}

.u66c0 {
    position:absolute;
    left:860px;
    top:86px;
    width:20px;
    height:44px;
}

.u67 {
    position:absolute;
    left:-50px;
    top:7px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68c0 {
    background-image: url('../Home_files/u68c0.png');
}

.u68c0 {
    position:absolute;
    left:916px;
    top:50px;
    width:34px;
    height:20px;
}

.u69 {
    position:absolute;
    left:-40px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_original {
    background-image: url('../Home_files/u6_original.png');
}

.u70_container {
    position:absolute;
    left:1049px;
    top:30px;
    width:100px;
    height:60px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u71 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:1049px;
    top:30px;
    width:100px;
    height:60px
}

.u72c0 {
    background-image: url('../Home_files/u72c0.png');
}

.u72c0 {
    position:absolute;
    left:1006px;
    top:50px;
    width:53px;
    height:20px;
}

.u73 {
    position:absolute;
    left:-30px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74c0 {
    background-image: url('../Home_files/u74c0.png');
}

.u74c0 {
    position:absolute;
    left:1145px;
    top:50px;
    width:28px;
    height:20px;
}

.u75 {
    position:absolute;
    left:-43px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_original {
    background-image: url('../Home_files/u20_original.png');
}

.u76_container {
    position:absolute;
    left:1064px;
    top:110px;
    width:70px;
    height:60px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:66px;
}

.u77 {
    position:absolute;
    left:2px;
    top:8px;
    width:66px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:1064px;
    top:110px;
    width:70px;
    height:60px
}

.u78c0 {
    background-image: url('../Home_files/u78c0.png');
}

.u78c0 {
    position:absolute;
    left:1029px;
    top:130px;
    width:39px;
    height:20px;
}

.u78c1 {
    background-image: url('../Home_files/u78c1.png');
}

.u78c1 {
    position:absolute;
    left:1029px;
    top:50px;
    width:20px;
    height:100px;
}

.u78c2 {
    background-image: url('../Home_files/u78c2.png');
}

.u78c2 {
    position:absolute;
    left:1029px;
    top:50px;
    width:24px;
    height:20px;
}

.u79 {
    position:absolute;
    left:-60px;
    top:40px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80c0 {
    background-image: url('../Home_files/u80c0.png');
}

.u80c0 {
    position:absolute;
    left:1203px;
    top:10px;
    width:20px;
    height:24px;
}

.u80c1 {
    background-image: url('../Home_files/u80c1.png');
}

.u80c1 {
    position:absolute;
    left:1089px;
    top:10px;
    width:134px;
    height:20px;
}

.u80c2 {
    background-image: url('../Home_files/u80c2.png');
}

.u80c2 {
    position:absolute;
    left:1089px;
    top:10px;
    width:20px;
    height:24px;
}

.u81 {
    position:absolute;
    left:7px;
    top:-18px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82c0 {
    background-image: url('../Home_files/u82c0.png');
}

.u82c0 {
    position:absolute;
    left:1089px;
    top:86px;
    width:20px;
    height:34px;
}

.u83 {
    position:absolute;
    left:-50px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_original {
    background-image: url('../Home_files/u84_original.png');
}

.u84_container {
    position:absolute;
    left:1385px;
    top:90px;
    width:70px;
    height:30px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u85 {
    position:absolute;
    left:2px;
    top:8px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:1385px;
    top:90px;
    width:70px;
    height:30px
}

.u86_original {
    background-image: url('../Home_files/u84_original.png');
}

.u86_container {
    position:absolute;
    left:1385px;
    top:40px;
    width:70px;
    height:30px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u87 {
    position:absolute;
    left:2px;
    top:8px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:1385px;
    top:40px;
    width:70px;
    height:30px
}

.u88_original {
    background-image: url('../Home_files/u20_original.png');
}

.u88_container {
    position:absolute;
    left:1486px;
    top:110px;
    width:70px;
    height:60px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:66px;
}

.u89 {
    position:absolute;
    left:2px;
    top:0px;
    width:66px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:1486px;
    top:110px;
    width:70px;
    height:60px
}

.u90_original {
    background-image: url('../Home_files/u6_original.png');
}

.u90_container {
    position:absolute;
    left:1575px;
    top:25px;
    width:100px;
    height:60px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u91 {
    position:absolute;
    left:2px;
    top:15px;
    width:96px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:1575px;
    top:25px;
    width:100px;
    height:60px
}

.u92_original {
    background-image: url('../Home_files/u20_original.png');
}

.u92_container {
    position:absolute;
    left:1700px;
    top:24px;
    width:70px;
    height:60px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:66px;
}

.u93 {
    position:absolute;
    left:2px;
    top:0px;
    width:66px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:1700px;
    top:24px;
    width:70px;
    height:60px
}

.u94_original {
    background-image: url('../Home_files/u6_original.png');
}

.u94_container {
    position:absolute;
    left:1786px;
    top:28px;
    width:100px;
    height:60px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u95 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:1786px;
    top:28px;
    width:100px;
    height:60px
}

.u96c0 {
    background-image: url('../Home_files/u96c0.png');
}

.u96c0 {
    position:absolute;
    left:1259px;
    top:50px;
    width:38px;
    height:20px;
}

.u97 {
    position:absolute;
    left:-38px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_original {
    background-image: url('../Home_files/u84_original.png');
}

.u98_container {
    position:absolute;
    left:1910px;
    top:80px;
    width:70px;
    height:30px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u99 {
    position:absolute;
    left:2px;
    top:0px;
    width:66px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:1910px;
    top:80px;
    width:70px;
    height:30px
}

.u100_original {
    background-image: url('../Home_files/u84_original.png');
}

.u100_container {
    position:absolute;
    left:1910px;
    top:20px;
    width:70px;
    height:30px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u101 {
    position:absolute;
    left:2px;
    top:0px;
    width:66px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:1910px;
    top:20px;
    width:70px;
    height:30px
}

.u102c0 {
    background-image: url('../Home_files/u102c0.png');
}

.u102c0 {
    position:absolute;
    left:1935px;
    top:0px;
    width:20px;
    height:24px;
}

.u102c1 {
    background-image: url('../Home_files/u102c1.png');
}

.u102c1 {
    position:absolute;
    left:755px;
    top:0px;
    width:1200px;
    height:20px;
}

.u102c2 {
    background-image: url('../Home_files/u102c2.png');
}

.u102c2 {
    position:absolute;
    left:755px;
    top:0px;
    width:20px;
    height:34px;
}

.u103 {
    position:absolute;
    left:535px;
    top:-18px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_original {
    background-image: url('../Home_files/u20_original.png');
}

.u104_container {
    position:absolute;
    left:1319px;
    top:220px;
    width:70px;
    height:60px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:66px;
}

.u105 {
    position:absolute;
    left:2px;
    top:8px;
    width:66px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:1319px;
    top:220px;
    width:70px;
    height:60px
}

.u106c0 {
    background-image: url('../Home_files/u106c0.png');
}

.u106c0 {
    position:absolute;
    left:1935px;
    top:106px;
    width:20px;
    height:154px;
}

.u106c1 {
    background-image: url('../Home_files/u106c1.png');
}

.u106c1 {
    position:absolute;
    left:1385px;
    top:240px;
    width:570px;
    height:20px;
}

.u107 {
    position:absolute;
    left:298px;
    top:132px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108c0 {
    background-image: url('../Home_files/u108c0.png');
}

.u108c0 {
    position:absolute;
    left:1410px;
    top:116px;
    width:20px;
    height:104px;
}

.u108c1 {
    background-image: url('../Home_files/u108c1.png');
}

.u108c1 {
    position:absolute;
    left:1344px;
    top:200px;
    width:86px;
    height:20px;
}

.u108c2 {
    background-image: url('../Home_files/u108c2.png');
}

.u108c2 {
    position:absolute;
    left:1344px;
    top:200px;
    width:20px;
    height:24px;
}

.u109 {
    position:absolute;
    left:16px;
    top:75px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_original {
    background-image: url('../Home_files/u6_original.png');
}

.u110_container {
    position:absolute;
    left:1304px;
    top:300px;
    width:100px;
    height:60px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u111 {
    position:absolute;
    left:2px;
    top:15px;
    width:96px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:1304px;
    top:300px;
    width:100px;
    height:60px
}

.u112_original {
    background-image: url('../Home_files/u6_original.png');
}

.u112_container {
    position:absolute;
    left:1519px;
    top:300px;
    width:100px;
    height:60px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u113 {
    position:absolute;
    left:2px;
    top:15px;
    width:96px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:1519px;
    top:300px;
    width:100px;
    height:60px
}

.u114_original {
    background-image: url('../Home_files/u6_original.png');
}

.u114_container {
    position:absolute;
    left:1820px;
    top:300px;
    width:100px;
    height:60px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u115 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:1820px;
    top:300px;
    width:100px;
    height:60px
}

.u116_original {
    background-image: url('../Home_files/u20_original.png');
}

.u116_container {
    position:absolute;
    left:1429px;
    top:300px;
    width:70px;
    height:60px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:66px;
}

.u117 {
    position:absolute;
    left:2px;
    top:15px;
    width:66px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:1429px;
    top:300px;
    width:70px;
    height:60px
}

.u118_original {
    background-image: url('../Home_files/u20_original.png');
}

.u118_container {
    position:absolute;
    left:1730px;
    top:300px;
    width:70px;
    height:60px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:66px;
}

.u119 {
    position:absolute;
    left:2px;
    top:15px;
    width:66px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:1730px;
    top:300px;
    width:70px;
    height:60px
}

.u120c0 {
    background-image: url('../Home_files/u120c0.png');
}

.u120c0 {
    position:absolute;
    left:1284px;
    top:320px;
    width:24px;
    height:20px;
}

.u120c1 {
    background-image: url('../Home_files/u120c1.png');
}

.u120c1 {
    position:absolute;
    left:1284px;
    top:240px;
    width:20px;
    height:100px;
}

.u120c2 {
    background-image: url('../Home_files/u120c2.png');
}

.u120c2 {
    position:absolute;
    left:1284px;
    top:240px;
    width:39px;
    height:20px;
}

.u121 {
    position:absolute;
    left:-60px;
    top:24px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_original {
    background-image: url('../Home_files/u122_original.png');
}

.u122_container {
    position:absolute;
    left:1940px;
    top:310px;
    width:60px;
    height:40px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:46px;
}

.u123 {
    position:absolute;
    left:2px;
    top:12px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:1940px;
    top:310px;
    width:60px;
    height:40px
}

.u124c0 {
    background-image: url('../Home_files/u124c0.png');
}

.u124c0 {
    position:absolute;
    left:1400px;
    top:320px;
    width:39px;
    height:20px;
}

.u125 {
    position:absolute;
    left:-38px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126c0 {
    background-image: url('../Home_files/u126c0.png');
}

.u126c0 {
    position:absolute;
    left:1495px;
    top:320px;
    width:34px;
    height:20px;
}

.u127 {
    position:absolute;
    left:-40px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128c0 {
    background-image: url('../Home_files/u128c0.png');
}

.u128c0 {
    position:absolute;
    left:1559px;
    top:356px;
    width:20px;
    height:24px;
}

.u128c1 {
    background-image: url('../Home_files/u128c1.png');
}

.u128c1 {
    position:absolute;
    left:1454px;
    top:360px;
    width:125px;
    height:20px;
}

.u128c2 {
    background-image: url('../Home_files/u128c2.png');
}

.u128c2 {
    position:absolute;
    left:1454px;
    top:356px;
    width:20px;
    height:24px;
}

.u129 {
    position:absolute;
    left:3px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130c0 {
    background-image: url('../Home_files/u130c0.png');
}

.u130c0 {
    position:absolute;
    left:1696px;
    top:320px;
    width:44px;
    height:20px;
}

.u131 {
    position:absolute;
    left:-35px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132c0 {
    background-image: url('../Home_files/u132c0.png');
}

.u132c0 {
    position:absolute;
    left:1796px;
    top:320px;
    width:34px;
    height:20px;
}

.u133 {
    position:absolute;
    left:-40px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134c0 {
    background-image: url('../Home_files/u134c0.png');
}

.u134c0 {
    position:absolute;
    left:1860px;
    top:356px;
    width:20px;
    height:24px;
}

.u134c1 {
    background-image: url('../Home_files/u134c1.png');
}

.u134c1 {
    position:absolute;
    left:1755px;
    top:360px;
    width:125px;
    height:20px;
}

.u134c2 {
    background-image: url('../Home_files/u134c2.png');
}

.u134c2 {
    position:absolute;
    left:1755px;
    top:356px;
    width:20px;
    height:24px;
}

.u135 {
    position:absolute;
    left:3px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136c0 {
    background-image: url('../Home_files/u136c0.png');
}

.u136c0 {
    position:absolute;
    left:1916px;
    top:320px;
    width:34px;
    height:20px;
}

.u137 {
    position:absolute;
    left:-40px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_original {
    background-image: url('../Home_files/u138_original.png');
}

.u138_container {
    position:absolute;
    left:10px;
    top:40px;
    width:51px;
    height:40px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:46px;
}

.u139 {
    position:absolute;
    left:2px;
    top:12px;
    width:47px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:10px;
    top:40px;
    width:51px;
    height:40px
}

.u140c0 {
    background-image: url('../Home_files/u140c0.png');
}

.u140c0 {
    position:absolute;
    left:57px;
    top:50px;
    width:33px;
    height:20px;
}

.u141 {
    position:absolute;
    left:-40px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142c0 {
    background-image: url('../Home_files/u142c0.png');
}

.u142c0 {
    position:absolute;
    left:146px;
    top:50px;
    width:44px;
    height:20px;
}

.u143 {
    position:absolute;
    left:-35px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_original {
    background-image: url('../Home_files/u20_original.png');
}

.u144_container {
    position:absolute;
    left:1287px;
    top:30px;
    width:70px;
    height:60px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:66px;
}

.u145 {
    position:absolute;
    left:2px;
    top:15px;
    width:66px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:1287px;
    top:30px;
    width:70px;
    height:60px
}

.u146c0 {
    background-image: url('../Home_files/u146c0.png');
}

.u146c0 {
    position:absolute;
    left:1203px;
    top:86px;
    width:20px;
    height:24px;
}

.u146c1 {
    background-image: url('../Home_files/u146c1.png');
}

.u146c1 {
    position:absolute;
    left:1143px;
    top:90px;
    width:80px;
    height:20px;
}

.u146c2 {
    background-image: url('../Home_files/u146c2.png');
}

.u146c2 {
    position:absolute;
    left:1143px;
    top:50px;
    width:20px;
    height:60px;
}

.u146c3 {
    background-image: url('../Home_files/u146c3.png');
}

.u146c3 {
    position:absolute;
    left:1143px;
    top:50px;
    width:24px;
    height:20px;
}

.u147 {
    position:absolute;
    left:-50px;
    top:32px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148c0 {
    background-image: url('../Home_files/u148c0.png');
}

.u148c0 {
    position:absolute;
    left:1353px;
    top:50px;
    width:32px;
    height:20px;
}

.u148c1 {
    background-image: url('../Home_files/u148c1.png');
}

.u148c1 {
    position:absolute;
    left:1365px;
    top:45px;
    width:20px;
    height:25px;
}

.u148c2 {
    background-image: url('../Home_files/u148c2.png');
}

.u148c2 {
    position:absolute;
    left:1365px;
    top:45px;
    width:24px;
    height:20px;
}

.u149 {
    position:absolute;
    left:-34px;
    top:-3px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150c0 {
    background-image: url('../Home_files/u150c0.png');
}

.u150c0 {
    position:absolute;
    left:1451px;
    top:45px;
    width:45px;
    height:20px;
}

.u151 {
    position:absolute;
    left:-34px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152c0 {
    background-image: url('../Home_files/u152c0.png');
}

.u152c0 {
    position:absolute;
    left:1511px;
    top:81px;
    width:20px;
    height:39px;
}

.u153 {
    position:absolute;
    left:-50px;
    top:4px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154c0 {
    background-image: url('../Home_files/u154c0.png');
}

.u154c0 {
    position:absolute;
    left:1552px;
    top:45px;
    width:33px;
    height:20px;
}

.u155 {
    position:absolute;
    left:-40px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156c0 {
    background-image: url('../Home_files/u156c0.png');
}

.u156c0 {
    position:absolute;
    left:1671px;
    top:45px;
    width:39px;
    height:20px;
}

.u157 {
    position:absolute;
    left:-38px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158c0 {
    background-image: url('../Home_files/u158c0.png');
}

.u158c0 {
    position:absolute;
    left:1615px;
    top:81px;
    width:20px;
    height:69px;
}

.u158c1 {
    background-image: url('../Home_files/u158c1.png');
}

.u158c1 {
    position:absolute;
    left:1552px;
    top:130px;
    width:83px;
    height:20px;
}

.u159 {
    position:absolute;
    left:12px;
    top:47px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160c0 {
    background-image: url('../Home_files/u160c0.png');
}

.u160c0 {
    position:absolute;
    left:1766px;
    top:47px;
    width:30px;
    height:20px;
}

.u161 {
    position:absolute;
    left:-42px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162c0 {
    background-image: url('../Home_files/u162c0.png');
}

.u162c0 {
    position:absolute;
    left:1826px;
    top:84px;
    width:20px;
    height:24px;
}

.u162c1 {
    background-image: url('../Home_files/u162c1.png');
}

.u162c1 {
    position:absolute;
    left:1725px;
    top:88px;
    width:121px;
    height:20px;
}

.u162c2 {
    background-image: url('../Home_files/u162c2.png');
}

.u162c2 {
    position:absolute;
    left:1725px;
    top:80px;
    width:20px;
    height:28px;
}

.u163 {
    position:absolute;
    left:-1px;
    top:6px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164c0 {
    background-image: url('../Home_files/u164c0.png');
}

.u164c0 {
    position:absolute;
    left:1882px;
    top:48px;
    width:28px;
    height:20px;
}

.u164c1 {
    background-image: url('../Home_files/u164c1.png');
}

.u164c1 {
    position:absolute;
    left:1890px;
    top:25px;
    width:20px;
    height:43px;
}

.u164c2 {
    background-image: url('../Home_files/u164c2.png');
}

.u164c2 {
    position:absolute;
    left:1890px;
    top:25px;
    width:24px;
    height:20px;
}

.u165 {
    position:absolute;
    left:-36px;
    top:5px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166c0 {
    background-image: url('../Home_files/u166c0.png');
}

.u166c0 {
    position:absolute;
    left:1882px;
    top:48px;
    width:28px;
    height:20px;
}

.u166c1 {
    background-image: url('../Home_files/u166c1.png');
}

.u166c1 {
    position:absolute;
    left:1890px;
    top:48px;
    width:20px;
    height:57px;
}

.u166c2 {
    background-image: url('../Home_files/u166c2.png');
}

.u166c2 {
    position:absolute;
    left:1890px;
    top:85px;
    width:24px;
    height:20px;
}

.u167 {
    position:absolute;
    left:-36px;
    top:8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168c0 {
    background-image: url('../Home_files/u168c0.png');
}

.u168c0 {
    position:absolute;
    left:1353px;
    top:50px;
    width:32px;
    height:20px;
}

.u168c1 {
    background-image: url('../Home_files/u168c1.png');
}

.u168c1 {
    position:absolute;
    left:1365px;
    top:50px;
    width:20px;
    height:65px;
}

.u168c2 {
    background-image: url('../Home_files/u168c2.png');
}

.u168c2 {
    position:absolute;
    left:1365px;
    top:95px;
    width:24px;
    height:20px;
}

.u169 {
    position:absolute;
    left:-32px;
    top:10px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_original {
    background-image: url('../Home_files/u4_original.png');
}

.u170_container {
    position:absolute;
    left:1630px;
    top:310px;
    width:70px;
    height:40px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:46px;
}

.u171 {
    position:absolute;
    left:2px;
    top:12px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:1630px;
    top:310px;
    width:70px;
    height:40px
}

.u172c0 {
    background-image: url('../Home_files/u172c0.png');
}

.u172c0 {
    position:absolute;
    left:1615px;
    top:320px;
    width:25px;
    height:20px;
}

.u173 {
    position:absolute;
    left:-44px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

