body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u3_original {
    background-image: url('../Home_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u3 {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px
}

.u5_original {
    background-image: url('../Home_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u5 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u9_original {
    background-image: url('../Home_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:30px;
}

.u9 {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px
}

.u11_original {
    background-image: url('../Home_files/u5_original.png');
}

.u11_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u11 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u14_original {
    background-image: url('../Home_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:36px;
}

.u14 {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px
}

.u16_original {
    background-image: url('../Home_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:3px;
    top:3px;
    width:23px;
    height:22px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:22px;
}

.u16 {
    position:absolute;
    left:3px;
    top:3px;
    width:23px;
    height:22px
}

.u20_original {
    background-image: url('../Home_files/u3_original.png');
}

.u20_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u20 {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px
}

.u23_original {
    background-image: url('../Home_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u23 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u26_original {
    background-image: url('../Home_files/u9_original.png');
}

.u26_container {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:30px;
}

.u26 {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px
}

.u28_original {
    background-image: url('../Home_files/u14_original.png');
}

.u28_container {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:36px;
}

.u28 {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px
}

.u31_original {
    background-image: url('../Home_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:3px;
    top:4px;
    width:22px;
    height:21px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:21px;
}

.u31 {
    position:absolute;
    left:3px;
    top:4px;
    width:22px;
    height:21px
}

.u34_original {
    background-image: url('../Home_files/u23_original.png');
}

.u34_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u34 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u37_original {
    background-image: url('../Home_files/u3_original.png');
}

.u37_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u37 {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px
}

.u40_original {
    background-image: url('../Home_files/u40_original.png');
}

.u40_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u40 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u43_original {
    background-image: url('../Home_files/u9_original.png');
}

.u43_container {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:30px;
}

.u43 {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px
}

.u45_original {
    background-image: url('../Home_files/u14_original.png');
}

.u45_container {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:36px;
}

.u45 {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px
}

.u48_original {
    background-image: url('../Home_files/u48_original.png');
}

.u48_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u48 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u51_original {
    background-image: url('../Home_files/u40_original.png');
}

.u51_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u51 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u54_original {
    background-image: url('../Home_files/u3_original.png');
}

.u54_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u54 {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px
}

.u57_original {
    background-image: url('../Home_files/u57_original.png');
}

.u57_container {
    position:absolute;
    left:4px;
    top:4px;
    width:22px;
    height:21px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:21px;
}

.u57 {
    position:absolute;
    left:4px;
    top:4px;
    width:22px;
    height:21px
}

.u60_original {
    background-image: url('../Home_files/u9_original.png');
}

.u60_container {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:30px;
}

.u60 {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px
}

.u62_original {
    background-image: url('../Home_files/u14_original.png');
}

.u62_container {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:36px;
}

.u62 {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px
}

.u65_original {
    background-image: url('../Home_files/u65_original.png');
}

.u65_container {
    position:absolute;
    left:4px;
    top:4px;
    width:22px;
    height:21px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:21px;
}

.u65 {
    position:absolute;
    left:4px;
    top:4px;
    width:22px;
    height:21px
}

.u68_original {
    background-image: url('../Home_files/u57_original.png');
}

.u68_container {
    position:absolute;
    left:4px;
    top:4px;
    width:22px;
    height:21px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:21px;
}

.u68 {
    position:absolute;
    left:4px;
    top:4px;
    width:22px;
    height:21px
}

.u71_original {
    background-image: url('../Home_files/u3_original.png');
}

.u71_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u71 {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px
}

.u74_original {
    background-image: url('../Home_files/u74_original.png');
}

.u74_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u74 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u77_original {
    background-image: url('../Home_files/u9_original.png');
}

.u77_container {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:30px;
}

.u77 {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px
}

.u79_original {
    background-image: url('../Home_files/u14_original.png');
}

.u79_container {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:36px;
}

.u79 {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px
}

.u82_original {
    background-image: url('../Home_files/u82_original.png');
}

.u82_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u82 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u85_original {
    background-image: url('../Home_files/u74_original.png');
}

.u85_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u85 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u88_original {
    background-image: url('../Home_files/u3_original.png');
}

.u88_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u88 {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px
}

.u91_original {
    background-image: url('../Home_files/u91_original.png');
}

.u91_container {
    position:absolute;
    left:4px;
    top:4px;
    width:22px;
    height:21px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:21px;
}

.u91 {
    position:absolute;
    left:4px;
    top:4px;
    width:22px;
    height:21px
}

.u94_original {
    background-image: url('../Home_files/u9_original.png');
}

.u94_container {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:30px;
}

.u94 {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px
}

.u96_original {
    background-image: url('../Home_files/u14_original.png');
}

.u96_container {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:36px;
}

.u96 {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px
}

.u99_original {
    background-image: url('../Home_files/u99_original.png');
}

.u99_container {
    position:absolute;
    left:5px;
    top:4px;
    width:22px;
    height:21px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:21px;
}

.u99 {
    position:absolute;
    left:5px;
    top:4px;
    width:22px;
    height:21px
}

.u102_original {
    background-image: url('../Home_files/u91_original.png');
}

.u102_container {
    position:absolute;
    left:4px;
    top:4px;
    width:22px;
    height:21px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:21px;
}

.u102 {
    position:absolute;
    left:4px;
    top:4px;
    width:22px;
    height:21px
}

.u105_original {
    background-image: url('../Home_files/u3_original.png');
}

.u105_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u105 {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px
}

.u108_original {
    background-image: url('../Home_files/u108_original.png');
}

.u108_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u108_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u108 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u111_original {
    background-image: url('../Home_files/u9_original.png');
}

.u111_container {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:30px;
}

.u111 {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px
}

.u113_original {
    background-image: url('../Home_files/u14_original.png');
}

.u113_container {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:36px;
}

.u113 {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px
}

.u116_original {
    background-image: url('../Home_files/u116_original.png');
}

.u116_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u116 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u119_original {
    background-image: url('../Home_files/u108_original.png');
}

.u119_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u119_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u119 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u122_original {
    background-image: url('../Home_files/u3_original.png');
}

.u122_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u122 {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px
}

.u125_original {
    background-image: url('../Home_files/u125_original.png');
}

.u125_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u125 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u128_original {
    background-image: url('../Home_files/u9_original.png');
}

.u128_container {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:30px;
}

.u128 {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px
}

.u130_original {
    background-image: url('../Home_files/u14_original.png');
}

.u130_container {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:36px;
}

.u130 {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px
}

.u133_original {
    background-image: url('../Home_files/u133_original.png');
}

.u133_container {
    position:absolute;
    left:3px;
    top:4px;
    width:22px;
    height:21px;
}

#u133_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:21px;
}

.u133 {
    position:absolute;
    left:3px;
    top:4px;
    width:22px;
    height:21px
}

.u136_original {
    background-image: url('../Home_files/u125_original.png');
}

.u136_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u136_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u136 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u139_original {
    background-image: url('../Home_files/u3_original.png');
}

.u139_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u139 {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px
}

.u142_original {
    background-image: url('../Home_files/u142_original.png');
}

.u142_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u142_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u142 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u145_original {
    background-image: url('../Home_files/u9_original.png');
}

.u145_container {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:30px;
}

.u145 {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px
}

.u147_original {
    background-image: url('../Home_files/u14_original.png');
}

.u147_container {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:36px;
}

.u147 {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px
}

.u150_original {
    background-image: url('../Home_files/u150_original.png');
}

.u150_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u150_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u150 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u153_original {
    background-image: url('../Home_files/u142_original.png');
}

.u153_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u153_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u153 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u156_original {
    background-image: url('../Home_files/u3_original.png');
}

.u156_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u156 {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px
}

.u159_original {
    background-image: url('../Home_files/u159_original.png');
}

.u159_container {
    position:absolute;
    left:4px;
    top:4px;
    width:22px;
    height:21px;
}

#u159_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:21px;
}

.u159 {
    position:absolute;
    left:4px;
    top:4px;
    width:22px;
    height:21px
}

.u162_original {
    background-image: url('../Home_files/u9_original.png');
}

.u162_container {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:30px;
}

.u162 {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px
}

.u164_original {
    background-image: url('../Home_files/u14_original.png');
}

.u164_container {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:36px;
}

.u164 {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px
}

.u167_original {
    background-image: url('../Home_files/u167_original.png');
}

.u167_container {
    position:absolute;
    left:4px;
    top:4px;
    width:22px;
    height:21px;
}

#u167_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:21px;
}

.u167 {
    position:absolute;
    left:4px;
    top:4px;
    width:22px;
    height:21px
}

.u170_original {
    background-image: url('../Home_files/u159_original.png');
}

.u170_container {
    position:absolute;
    left:4px;
    top:4px;
    width:22px;
    height:21px;
}

#u170_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:21px;
}

.u170 {
    position:absolute;
    left:4px;
    top:4px;
    width:22px;
    height:21px
}

.u173_original {
    background-image: url('../Home_files/u3_original.png');
}

.u173_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u173 {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px
}

.u176_original {
    background-image: url('../Home_files/u176_original.png');
}

.u176_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u176_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u176 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u179_original {
    background-image: url('../Home_files/u9_original.png');
}

.u179_container {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:30px;
}

.u179 {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px
}

.u181_original {
    background-image: url('../Home_files/u14_original.png');
}

.u181_container {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px;
}

#u181_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:36px;
}

.u181 {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px
}

.u184_original {
    background-image: url('../Home_files/u184_original.png');
}

.u184_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u184_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u184 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u187_original {
    background-image: url('../Home_files/u176_original.png');
}

.u187_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u187_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u187 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u190_original {
    background-image: url('../Home_files/u3_original.png');
}

.u190_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u190 {
    position:absolute;
    left:-10px;
    top:0px;
    width:140px;
    height:30px
}

.u193_original {
    background-image: url('../Home_files/u193_original.png');
}

.u193_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u193_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u193 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u196_original {
    background-image: url('../Home_files/u9_original.png');
}

.u196_container {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px;
}

#u196_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:30px;
}

.u196 {
    position:absolute;
    left:40px;
    top:25px;
    width:80px;
    height:24px
}

.u198_original {
    background-image: url('../Home_files/u14_original.png');
}

.u198_container {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px;
}

#u198_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:36px;
}

.u198 {
    position:absolute;
    left:-12px;
    top:0px;
    width:40px;
    height:30px
}

.u201_original {
    background-image: url('../Home_files/u201_original.png');
}

.u201_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u201_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u201 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u204_original {
    background-image: url('../Home_files/u193_original.png');
}

.u204_container {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px;
}

#u204_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u204 {
    position:absolute;
    left:4px;
    top:4px;
    width:21px;
    height:21px
}

.u206 {
    position:absolute;
    left:37px;
    top:296px;
    width:40px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u207 {
    position:absolute;
    left:37px;
    top:209px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u208 {
    position:absolute;
    left:110px;
    top:296px;
    width:40px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u219 {
    position:absolute;
    left:40px;
    top:400px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u221_original {
    background-image: url('../Home_files/u221_original.png');
}

.u221_container {
    position:absolute;
    left:50px;
    top:495px;
    width:100px;
    height:25px;
}

#u221_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u221 {
    position:absolute;
    left:50px;
    top:495px;
    width:100px;
    height:25px
}

