* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u2_original.png");
}

* html .u4_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u4_original.png");
}

* html .u17_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u17_original.png");
}

* html .u20_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u20_disabled.png");
}

* html .u20_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u20_original.png");
}

* html .u46_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u48_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u48_original.png");
}

* html .u50_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u48_original.png");
}

* html .u52_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u54_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u54_original.png");
}

* html .u56_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u54_original.png");
}

* html .u59_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u65_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u72_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u78_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u85_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u91_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u98_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u104_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u111_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u117_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u124_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u130_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u137_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u143_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u150_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u156_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u163_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u169_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u176_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u182_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u189_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u195_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u202_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u208_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u215_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u221_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u228_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u234_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u241_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u247_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u254_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u260_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u267_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u273_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u279_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u279_original.png");
}

* html .u285_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u291_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u298_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u304_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u311_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u317_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u324_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u330_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u337_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u343_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u350_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u356_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u363_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u369_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u376_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u382_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u389_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u395_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u402_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u408_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u415_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u421_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u428_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u434_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u436_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u436_original.png");
}

* html .u438_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u436_original.png");
}

* html .u441_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u447_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u454_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u460_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u462_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u462_original.png");
}

* html .u464_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u462_original.png");
}

* html .u467_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u473_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u480_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u486_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u493_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u499_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u507_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u509_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u279_original.png");
}

* html .u514_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u54_original.png");
}

* html .u517_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u522_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u527_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u532_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u537_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u542_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u547_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u552_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u557_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u562_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u567_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u572_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u577_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u582_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u587_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u592_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u597_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u602_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u607_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u612_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u617_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u622_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u627_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u632_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u637_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u642_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u647_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u652_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u657_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u662_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u667_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u672_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u677_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u682_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u688_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u690_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u48_original.png");
}

* html .u692_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u48_original.png");
}

* html .u694_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u696_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u54_original.png");
}

* html .u698_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u54_original.png");
}

* html .u701_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u707_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u714_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u720_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u727_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u733_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u740_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u746_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u753_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u759_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u766_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u772_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u779_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u785_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u792_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u798_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u805_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u811_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u818_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u824_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u831_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u837_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u844_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u850_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u857_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u863_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u870_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u876_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u883_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u889_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u896_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u902_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u909_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u915_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u921_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u279_original.png");
}

* html .u927_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u933_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u940_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u946_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u953_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u959_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u966_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u972_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u979_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u985_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u992_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u998_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1005_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1011_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1018_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1024_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1031_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1037_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1044_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1050_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1057_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1063_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1070_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1076_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1078_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u436_original.png");
}

* html .u1080_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u436_original.png");
}

* html .u1083_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1089_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1096_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1102_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1104_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u462_original.png");
}

* html .u1106_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u462_original.png");
}

* html .u1109_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1115_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1122_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1128_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1135_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

* html .u1141_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Page_2_files/u46_original.png");
}

